.profile{
    width: 80%;
    margin: 0 auto;
    border: 20px solid blanchedalmond;
    overflow: scroll;
    min-height: auto;
    max-height: 500px;
    background-color: rgba(2 17 48 / 45%);
}

.profileLi {
    font-size: 30px;
    color: blanchedalmond;
    list-style: none;
}